body {
  border: 1px solid silver;
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1800px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header{
  height:1000px;
  width: auto;
  background-color:white
}
.header h1,span{
  float: left;
}
.menu>ul>li{
  display: inline;
  list-style-type: none;
  padding: 1.5rem;
  font-size: xx-large;
  float: left;
}


.detail  {
width:10%;;
height: 20%;
position: relative;
float: left;
top:  3rem;
left: 25rem;
margin: 2rem;
font-size:x-large

}
.content{
  width: auto;
  background-color:rgb(228, 217, 117);
  height: 400px;
}
.content-detail{
  width:10%;;
  height: 20%;
  position: relative;
  float: left;
  top:  5rem;
  margin-left: 30rem;
  font-size:25px;

}
  .left{
  width: 700px;
  height:700px;
  position: relative;
  float: left;
  top: 20rem;
  left: 0.5rem;

  background-color: rgb(216, 228, 236);
  }
.Content2Detail{
  width: 200px;
  height: 200px;
  float: left;
  border: 2px solid rgb(190, 185, 185);
  position: relative;
  left: 20rem;
  top: 2rem;
  padding: 3rem;
  font-size: 30px;
}
.content2{
  height: 1500px;
  width: auto;
  background-color: white;
 
}


.DetailRight{
  width: 900px;
  height:200px;
  position: relative;
  float: right;
  top: 25rem;
  right: 1rem;
}
.left-detail{
  width: 110px;
  height: 250px;
  font-size: 30px;
  display: inline-block;
  padding: 3rem;
  border: 1px solid rgb(212, 212, 208);
 border-radius: 5px;
 background-color: white;
 position: relative;
}
.content3{
  width: auto;
  height: 300px;
  background-color: rgb(93, 177, 233);
  font-size: 30px;
}
.footer{
  width: auto;
  height: 200px;
  background-color: white;
}